<h3>
  <span>{{lesson.category.name}} (Lvl {{lesson.level.level}})</span>
  {{moment-format lesson.startTime "ddd H:mm"}}-{{moment-format lesson.endTime "h:mm"}}
</h3>

<h4>Attendees <i class="fa-plus"></i></h4>
<ul>
  {{#each lesson.pupils as |pupil|}}
    <li>{{pupil.name}}</li>
  {{/each}}
</ul>