<div class="{{styles.header}}">
  <div class="{{styles.instructorHeader}}"></div>
  {{#each days as |day|}}
    <div class="{{styles.day}}">{{moment-format day "ddd"}} ({{moment-format day "D MMM" }})</div>
  {{/each}}
</div>

<div class="{{styles.header}}">
  <div class="{{styles.instructorHeader}}">Instructor</div>
  {{#each days as |day|}}
    {{#each hourHeaders as |hourHeader|}}
      <div class="{{styles.hour}}">{{hourHeader}}</div>
    {{/each}}
    <div class="{{styles.hiddenHour}}"></div>
  {{/each}}
</div>
