<div class="{{styles.row}}">
  <div class="{{styles.instructor}}">{{instructor.name}}</div>
  {{#each timePeriods as |timePeriod|}}
    <div class="{{styles.timePeriod}} timePeriod"> </div>
  {{/each}}

  {{#each lessons as |lesson|}}
    {{lesson-calendar/lesson
      lesson=lesson
      leftOffsetOfFirstTimeslot=leftOffsetOfFirstTimeslot
      widthOf1MSInPx=widthOf1MSInPx
      workingDayDurationInMS=workingDayDurationInMS
      account=account
    }}
  {{/each}}
</div>
