{{#sortable-group tagName="ul" onChange=reorder as |group|}}
  {{#each model as |listItem|}}
    {{#sortable-item tagName="li" model=listItem group=group handle=".iDragHandle"}}
      <i class="fa fa-arrows-v iDragHandle {{styles.dragHandle}}"></i>
      {{#link-to editRoute listItem class=styles.editModelLink}}
        <div class="{{styles.row}}">
          {{yield listItem}}
        </div>
      {{/link-to}}
    {{/sortable-item}}
  {{else}}
    <div local-class="empty-list">
      {{emptyMessage}}
    </div>
  {{/each}}
{{/sortable-group}}
